@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC</h1>
    
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" name ="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>
<div>
    <a href="Home/SayHello?name=HarishHema ">SayHello</a>
</div>
<div>
    <a href="Home/add?x=100&y=100">add</a>
</div>
<div>
    <a href="Home/Multiply?x=100&y=100">product</a>
</div>
<div>
    <a href="Home/Divide?x=100&y=100">Divide</a>
</div>
<div>
    <a href="Home/AddnewBook">New Book</a>
</div>
<div>
    <a href="Home/ListAllBook">All Book</a>
</div>
<div>
    <a href="Home/addAuthor">New author</a>
</div>
<div>
    <a href="Home/ListAllAuthor">All author</a>
</div>
<div>
    <a href="Author">Author Landing Page</a>

</div>
<div>
    <a href="Emp">emp</a>
</div>
<div>
    <a href="movie">movie</a>
</div>
