
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>
<div>
    <h3>ViewDataX: @ViewData["x"]</h3>
    <h3> TempDataXp: @TempData["globalX"]</h3>
    <h3> ViewDatay @ViewData["gobaly"]</h3>
</div>
