@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-color: cyan">
    <hr/>
    <h1>From Child view</h1>
    <ul>
        <li>benz</li>
        <li>innova</li>
        <li>tesla M3</li>
        
    </ul>
    <hr />
</div>
