@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>Score</h1>
    <h3>256 for 4 in 20hours</h3>
</div>
